* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  line-height: 100%;
  letter-spacing: 0%;
}

header {
  background-color: #ff6b1a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

h1 {
  font-weight: 700;
  font-size: 24px;
}

header p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffffe5;
  margin-top: 5px;
}

.title-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}

nav {
  background-color: #1a1a1a;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 60px;
  padding: 12px 48px;
}

nav a {
  width: 103px;
  height: 37px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

nav a:hover {
  background-color: #ff6b1a;
  border-radius: 8px;
  height: 37px;
  padding: 0 12px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.275);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.menu > a {
  padding: 0 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  background-color: #ff6b1a;
  border-radius: 8px;
}

.button {
  display: none;
}

nav li:first-child {
  margin-right: auto;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.hero {
  background-color: #2a2a2ae5;
  background-image: url(./images/12.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20vh;
  padding: 140px 25px;
  background-blend-mode: luminosity;
}

.hero h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-bottom: 15px;
}

.hero p {
  color: #ffffffe5;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 25px 160px 25px;
}

main {
  background-color: #f5f5f5;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  border-top: 4px solid #ff6b1a;
  width: auto;
  padding: 37px 32px 48px 24px;
}

.card-title {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.card-title > h3 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.card > p {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  line-height: 20px;
}

footer p {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
  background-color: #1a1a1a;
}

footer span {
  display: none;
}

@media (min-width: 778px) {
  h1,
  h2 {
    font-size: 40px;
  }
  header p {
    font-size: 18px;
  }
  .hero p {
    font-size: 18px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
  }

  .card {
    width: calc(33.333% - 16px);
    padding: 23px 45px 48px 24px;
  }

  .logo img {
    display: block;
    width: 58px;
    height: 49px;
  }
  footer p {
    font-size: 16px;
  }
  footer span {
    display: inline-block;
    color: #fff;
  }
}